body {
    margin: 0;
}
body a {
    color : var(--app-main-theme-tone);
    cursor: pointer;
}
body a:hover {
    text-decoration: underline;
}

.app-details {
    position:fixed;
    bottom:0;
    width: calc(100% - 50px);
    gap: 50px;
    padding: 10px 25px 10px 25px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    height: fit-content;
}
.app-details.bottom {
    position: relative;
    background-color: white;
}

.app-details .beta-message {
    width: calc(100% - 30vh - 50px);
    padding-right: calc(30vh - 50px);
}
.app-details .app {
    width: 30vh;
}
.app-details .app * {
    white-space: nowrap;
}
.beta-message .text p {
    text-decoration: none !important;
}
.beta-message .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.beta-message .text p {
    margin:0;
    white-space: nowrap;
}

.home-main-render {
    min-height: calc(100vh - 55px);
}
.info-bar {
    width: calc(100% - 20px);
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 10vh;
    align-items: center;
}

.info-bar .logotype svg {
    width: 30vh;
    height: 10vh;
}

.info-bar .sections {
    max-height: calc(40vh + 50px);
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}
.info-bar .sections .item:not(.item.in) {
    cursor: pointer;
}


.info-bar .sections .item {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
}
.info-bar .sections .item .text {
    text-decoration: none !important;
}

.info-bar .sections .item.in::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin:auto;
    width: 50%;
    height: 2px;
    background-color: var(--app-main-theme-tone);
    color: #ffffff; 
    text-align: center; 
    border-radius: 50px;
  }

.info-bar .sections .item:not(.item.in):hover {
    background-color: var( --app-main-theme-background-darker);
}

.num {
    font-family: "JetBrains", monospace;
}


.phone-alert {
    display: none;
}


@media screen and (max-width : 800px) {
    .phone-alert {
        display: flex;
        position:fixed;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 150;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        background-color: var(--app-main-theme-background);
    }
    .phone-alert .logo svg {
        height: 50vh;
    }
    .phone-alert .message {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .phone-alert .message .main {
        font-size: 50px;
    }
    .phone-alert .message .description {
        font-size: 30px;
        text-align: center;
    }
    body {
        overflow: hidden;
    }
}