.new_link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
}
.new_link input {
    padding: 10px 10px 10px 10px;
    width: calc(50% - 20px);
    border:none;
    outline:none;
    border-radius: 5px;
    background-color: var(--app-main-theme-background);
    border: 1px solid rgba(0,0,0,0);
    transition: 0.3s;
}

.new_link input:hover, .new_link input:focus {
    border:1px solid var(--app-main-theme-tone)
}

.resources {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.resources .container {
    display: flex;
    flex-direction: row;
    gap: 5;
    flex-wrap: wrap;
}
.resources .container .resource svg {
    height: 20px;
    width: 20px;
}
.resources .container .resource a {
    text-decoration: none;
}
.resources .container .resource {
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.resources .container .resource:hover {
    background-color: var(--app-main-theme-background-darker);
}

.resources .container .hover-harder:hover {
    background-color: var(--app-main-theme-background-darker-2) !important;
}