.main-render img {
    background-color: var(--app-main-theme-background-darker-4);;
    width: 40%;
    padding-right: 50px;
    border-radius: 20px;
}
.main-render {
    width: 80%;
    height: calc(100vh - 135px - 55px);
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.main-render .title {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.main-render .title .description {
    font-size: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.main-render .title .main {
    font-size: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.hover {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 50px;
}

.main-render .title .main .hover {
    animation: slide 3s;
    animation-fill-mode: forwards;
}
.main-render .title .description .hover {
    animation: slide 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide {
    from {
        left: 0;
    } to {
        left: 100%
    }
}
.main-render .title .main span {
    font-weight: bold;
}



.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    animation: buttonSlide 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.buttons .main {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.bigButton{
    font-size: 20px;
}

@keyframes buttonSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}




.sesapi {
    color: var(--app-main-theme-tone);
}


.linear-nfc {
    background: -webkit-linear-gradient(-45deg,
    #B82828, #35AB36
     );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.linear-sesapi {
    background: -webkit-linear-gradient(-45deg,
     var(--app-main-theme-tone-ligther), var(--app-main-theme-tone)
     );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

