.body .fields .field {
    flex-direction: column !important;
    gap: 20px;
    height: fit-content !important;
    padding: 30px !important;
    width: calc(100% - 60px) !important;
}


.field .field-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.field .field-header .name {
    font-size: 25px;    
}
.body .fields .field .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.body .fields  .field .content .resource {
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: var(--app-main-theme-background-darker-2);
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 20px;
}

.body .fields  .field .content .resource .resource-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.body .fields  .field .content .resource .image {
    max-width: 100%;
    display: flex;
}
.body .fields  .field .content .resource .image img {
    max-width: 30%;
    border-radius: 10px;
}
.body .fields  .field .content .resource .resource-content .label{
    font-size: 20px;
}

.resource.code, .resource.image {
    width: calc(100% - 40px);
    padding: 0 20px 0 20px;
}

.resource.code {
    width: calc(100%);
    position:relative;
    
}
.resource.code .lines {
    position:absolute;
    left:0px;
}

.resource.code code {
    padding: 0;
    background-color: unset;
    position:relative;
}
.resource.image .image {
    position:relative;
}

.resource.code pre {
    position:relative;
    padding-left: 15px;
    margin:0 !important;
    min-height: 50px;
    display: flex;
    
    align-items: center;
}
.resource * .action {
    width: fit-content;
    padding: 6px;
    position:absolute;
    border-radius: 5px;
    right:5px;
    top:5px;
    transition: 0.3s;
    cursor: pointer;
}
.resource * .action:hover {
    background-color: var(--app-main-theme-background-darker-3);
}
.resource * .icon svg {
    height:25px;
    width: 25px;
}


