@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
  ----da-main-hue: #3E4DEDFF;
  ----da-main-hue-2: #2530A9FF;
  ----da-secondary-hue: #28B88DFF;
  ----da-error-hue: #FF4221FF;
  ----da-warning-hue: #FF9021FF;
  ----da-error-hue-2: #FF4221FF;
  ----da-confirm-hue: #1FA218FF;
  ----order-creation-hue: #38BDF8FF;
  ----order-devis-hue: #6366F1FF;
  ----order-prototype-hue: #F59E0BFF;
  ----order-developement-hue: #10B981FF;
  ----order-test-hue: #F43F5EFF;
  ----order-delivery-hue: #8B5CF6FF;
  --Color: #FFFFFFFF;
  ----2k25-background-hue: #212B91FF;
  ----2k25-background-hue-darker: #141D79FF;
  ----2k25-background-hue-50: #414CC3FF;
  ----2k25-background-hue-10: #C9CEFFFF;
  ----2k25-text: #4CFFC9FF;
  ----2k25-darker: #39D9A9FF;



  ----global-hue-1-100: #15122EFF;
  ----global-hue-2-100: #FBA58FFF;
  ----global-hue-2-100-dark: #D38875FF;
  ----global-hue-2-100-darker: #C47F6DFF;
  ----global-hue-75: #15122EBF;
}


body {
  background-color: var(----global-hue-1-100);
  font-family: "IBM Plex Mono", monospace;
  color: var(----global-hue-2-100);

}

.content-first {
  display: flex;
  flex-direction: column;
  .role-separator {
    display: inline-block;
    width: 5px;
    height: 1em;
    background-color: transparent;
    margin: 0 8px;
    vertical-align: middle;
  }



  p .role {
    font-size: 120px;
    margin: 0;
    text-align: left;
    text-transform: lowercase;
    font-weight: bold;
    color: var(----global-hue-2-100);
    cursor: pointer;

    /* Alternative: Sliding background effect */
    position: relative;
    transition: color 0.3s ease-in-out;
    overflow: hidden;



  }

}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.socials-content {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: start;
  button {
    background-color: var(----global-hue-2-100);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    transition: 0.3s;
    border-radius: 20px;
    &:hover {
      background-color: var(----global-hue-2-100-dark);
    }
    svg {
      width: 200px;
      height: 200px;
      * {
        fill: var(----global-hue-1-100);
      }
    }
  }
}

.people-presentation {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;

    img {
      min-width: 200px;
      border-radius: 20px;
    }
  }

  .content {
    font-size: 30px;
  }
}

.public-header .experiences .experience .experience-content .content h3 {
  text-align: left; // Ensure experience titles are left-aligned
}

.public-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  gap: 100px;




  .experiences {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20vw;

    .experience {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      border-radius: 15px 10px;
      gap: 10px;

      .experience-content {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;

        svg {
          padding: 10px;
          border-radius: 10px 5px;
        }

        .content {
          h3 {
            text-transform: uppercase;
            font-size: 15px;
            opacity: 0.7;
          }

          p,
          h3 {
            margin: 0;
            padding: 0;
          }
        }
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        color: white;
        justify-content: space-between;

        svg {
          fill: white;
        }
      }
    }
  }
}

#root {
  padding: 50px;
}