.alert {
    .body-container {
        canvas {
            background-color: var(--app-background-color-tertiary);
        }
        .app-content {
            .field {
                .canvas-container {
                    .main-stats {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 20px;
                    }
                }
            }
        }
        .global {
            display: flex;
            flex-direction: column;
            align-items:start;
            justify-content: center;
            gap: 30px;
        }
        .no-words {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: auto;
            .main {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            .sub-main {
                font-size: 20px;
                color:var(--app-text-color-light);
                text-align: center;
            }
        }
        .canvas {
            padding: 20px 30px;
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 30px;
            border-radius: var(--app-main-border-radius);
            background-color: var(--app-background-color-tertiary);
            width: fit-content;
            .canvas-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .canvas-type-picker {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }
            .canvas-hover {
                background-color: var(--app-background-color-tertiary);
                border:2px solid var(--app-background-color-secondary);
                padding: 10px;
                border-radius: var(--app-tertiary-border-radius);
                position:absolute;
                * {
                    white-space: nowrap;
                }
            }
            .words {
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    svg {
                        fill:var(--app-text-color-light);
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .canvas-informations {
                .chart-title {
                    font-weight: bold;
                    text-align: center;
                    font-size: 20px;
                }
                .legends {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    justify-content: center;
                    .legend {
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        align-items: center;
                        .color {
                            width: 20px;
                            border-radius: var(--app-main-border-radius);
                            height: 20px;
                        }
                    }
                }
            }
        }


        .boxes-cube-big {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            .box.cube {
                width: 120px;
                height: 120px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                .main {
                    font-weight: bold;
                    font-size: 30px;
                    text-align: center;
                }
                .sub-text {
                    font-size: 13px;
                    color:var(--app-text-color-light);
                    margin-top: -5px;
                    text-align: center;
                }
                .text {
                    text-align: center;
                }
            }
        }
        .box {
            padding: 10px;
            background-color: var(--app-background-color-tertiary);
            width: fit-content;
            border-radius: var(--app-second-border-radius);
            .separator {
                width: 2px;
                height: 20px;
                border-radius: 50px;
                background-color: var(--app-main-hue);
            }
        }
    }
    .content {
        z-index: 20;
    }
}


@media (max-width: 768px) {
    .alert {
        .app-content {
            justify-content: unset !important;
            align-items: unset !important;
        }

        .field {
            margin: auto !important;
        }
        .global {
            align-items: start !important;
        }
        .body-container {
            .canvas {
                padding: 10px 20px;
                gap: 10px;
                align-items: start !important;
                flex-direction: column;
                .canvas-type-picker {
                    flex-direction: row;
                }
                .canvas-container {
                    gap: 10px;
                    flex-direction: column;
                    .main-stats {
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }

            .main-stats {
                flex-direction: column !important;
                align-items: start !important;
                justify-content: center !important;
            }
            .boxes-cube-big {
                .box.cube {
                    width: 100px;
                    height: 100px;
                    .main {
                        font-size: 20px;
                    }
                    .sub-text {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .top-actions-buttons {
        flex-direction: column !important;
    }
}