
#resultsField {
    #searchInputResults {
        border-radius: var(--app-second-border-radius) var(--app-second-border-radius) 0 0;
    }
    .search-input {
        padding: 0 10px;
        background-color: var(--app-background-color-tertiary);
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        border-radius: var(--app-main-border-radius);
        input {
            border:none;
        }
        svg {
            fill:var(--app-text-color-light)
        }
    
    }
    .search-results {
        background-color: var(--app-background-color-tertiary);
        padding: 0 5px 5px 5px;
        width: calc(100% - 10px);
        margin-top: -5px;
        border-radius: 0 0 var(--app-second-border-radius) var(--app-second-border-radius);
        .search-result:hover {
            background-color: rgba(0,0,0,0.025);
        }
        .search-result {
            border-radius: var(--app-main-border-radius);
            padding: 5px;
            width: calc(100% - 10px);
            display:flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            .main-informations {
                display: flex;
                flex-direction: column;
                gap: 5px;
                .name {
                    font-weight: bold;
                }
                .words {
                    font-size: 13px;
                    color:var(--appt-text-color-light)
                }
            }
            .image {
                width: 50px;
                height: 50px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: var(--app-main-border-radius);
                    object-fit: cover; 
                }
            }

        }
    }
}